@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

#main_container{
  background-color: black;
}
  
#h1_cine{
  font-size: 43px;
  background-color: #FFA629;
  border-radius: 15px;
}

#h1_world{
  font-family: 'Roboto', sans-serif;
  font-size: 43px;
  font-weight: bolder;
  color: rgb(66, 133, 221);
  background-color: #000;
  border:none;
              
  padding-top: 0.5%;
}

#btn_cadastre{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: rgb(66, 133, 221);
  font-weight: 700;
}

#btn_login {
  color: black;
  background-color: rgb(66, 133, 221);
  font-weight: bolder;
  
}

#carousel_base{
  width: 78.2%;
  height: 200px;
  margin: 0 auto;
  margin-top: -25px;
}
#container {
  background-color: black;
  width: 1500px;
  height: 100px;
  margin-right: -500px;
  margin-bottom: 50px;
  
}
#loca{
  color: rgb(66, 133, 221);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#canvas_header{
  width: 100%;
  height: 10px;
  background-color: rgb(66, 133, 221);
  margin-bottom: 50px;
  margin-top: -25px;
}

#container_principal{
  background-color: black;
}
#container_carousel{
  margin-top: -55px;

}

#novidade{
  font-size: 26px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

#filmes_cartaz{
  text-align-last: center;
  color: #fff;
  
  padding-top: 90px;
  font-weight: 700;
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
  
}

#sp{
  text-align-last: center;
  font-size: 30px;
  color: rgb(66, 133, 221);
  
  padding-top: 39px;
  font-weight: 700;
}

#canvas_meio{
  width: 80%;
  height: 1px;
  background-color: #c6c6c6;
  margin-left: 10%;
  margin-top: 5%;

}



#avatar{
  margin-left: 2%;
  
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
  margin-top: 3%;
}

#encanto{
  margin-left: 2%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
  margin-top: 3%;
}

#doutor{
  
  margin-top: 3%;
  margin-left: 2%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#doutor2{
  
  margin-top: 3%;
  margin-left: 2%;
  width: 100%;
 
  height: 100%;
  
  
  flex-shrink: 0;
  position: relative;
}



#batman{
  margin-left: 2%;
  margin-top: 35%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
 background-color: black;
  
}

#topgun{
  
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
}





#vf5{
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#acao{
  font-family: 'Roboto', sans-serif;
  margin-left: 7%;
  padding-top: 130px;
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
  color: red;
}

#moonfall{
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#predador{
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#fic{
  font-family: 'Roboto', sans-serif;
  margin-left: 7%;
  padding-top: 130px;
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
  color: red;
}

#starwars {
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#freira {
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#hereditario {
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#panico5 {
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#smile{
  margin-left: 2%;
  margin-top: 3%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height:300px ;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
}

#terror{
  font-family: 'Roboto', sans-serif;
  margin-left: 7%;
  padding-top: 130px;
  font-size: clamp(1.75em, 1em + 3vw, 2.5em);
  color: red;

}
#botao_doutor{
  margin-top: 30%;
  margin-left: -13.5%;
  background-color: #292929;
  color: white;
}

#data{
  color: blue;
}

#dentro_modal{
  margin-left: 2%;
  margin-top: 7%;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid white;
  
}


#footer {
  margin-top: 15%;
  width: 100%;
  
  
}

#home {
  
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

#termos {
  color: #0013BF;
  font-family: 'Roboto', sans-serif;
}

#ajuda {
  color: #0013BF;
  font-family: 'Roboto', sans-serif;
}

#copy {
  font-family: 'Roboto', sans-serif;
}

#outra_cor{
  color: #0013BF;
}


.card {
  /* Add shadows to create the "card" effect */
  width: 100%;
  max-width: 280px;
  margin-left: 7%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-table;
  margin-top: 5%;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container2 {
  padding: 2px 16px;
  background-color: #000;
  width: 100%;
  max-height: 100px;
  padding-bottom: 9%;
}

#texto{
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#special_texto{
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#special_texto4{
  color: white;
  font-size: 18px;
  font-weight: bolder;

}

#texto2{
  color: red;
  font-size: 18px;
  font-weight: bolder;
}

#texto_azul{
  font-size: 18px;
  font-weight: bolder;
  color: rgb(66, 133, 221); 
}

#texto3{
  color: #04ff43;
}
#special_texto3{
  margin-top: -7px;
  color: #04ff43;
}

#special_texto33{
  margin-top: -7px;
  color: red;
}

#special_texto2{
  color: white;
  font-size: 14px;
  font-weight: bolder;
}

#modal_header {
  background-color: black;
}

#close{
  background-color: white;
}

#h1_doutor{
  color: white;
}

#modal_footer{
  background-color: black;
}

#modal_p{
  margin-top: 20px;
}

#batman_versao {
  margin-left: 4% ;
  border: none;
  
}

#clique {
  font-family: 'Roboto', sans-serif;
  margin-left: 3%;
  padding-top: 30px;
  font-size: clamp(1.30em, 0.2em + 0.1vw, 2.0em);
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

#botao1{
  background-image:url(./img-sp/doctorstrange.jfif);
 
}

#botao2{
  background-image:url(./img-sp/topgun2.jfif);
}

#botao3{
  background-image:url(./img-sp/thebatman.jfif);
}

#botao4{
  background-image:url(./img-sp/vf5.jfif);
}

#botao5{
  background-image:url(./img-sp/avatar.jfif);
}

#botao6{
  background-image:url(./img-sp/moonfall.jfif);
}

#botao7{
  background-image:url(./img-sp/predador_acaçada.jfif);
}

#botao8{
  background-image:url(./img-sp/Star\ Wars\ O\ Despertar\ da\ Força.jfif);
}

#botao9{
  background-image:url(./img-sp/afreira.jfif);
}

#botao10{
  background-image:url(./img-sp/hereditario.jfif);
}

#botao11{
  background-image:url(./img-sp/panico5.jfif);
}

#botao12{
  background-image:url(./img-sp/smile.jfif);
}


#fundo_button{
  background-color: #000;
  border: none;
}

#icone{
  width: 100%;
  height: 100%;
  max-height: 30px;
  max-width: 30px;
}

#video{
  width: 400px;
  object-fit: contain;
  font-family: monospace;
  white-space: pre;

}

#trailer{
  font-size: 20px;
}